generic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.tracefirst.com/xml/generic" version="6.0"
  xmlns="http://www.tracefirst.com/xml/generic">
  <xs:annotation>
    <xs:documentation>
            Original XML schema provided by Trace First Limited 11/11/2015.
            Subsequent refinements made by:
             * Trace First Limited
             * Computer Aid, Inc.
             * Fort Supply Livestock, Inc.
        </xs:documentation>
    <xs:documentation>This is an open standard donated by the authors under a GPL licence.</xs:documentation>
  </xs:annotation>
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:sequence maxOccurs="unbounded">
          <xs:element name="Locations" minOccurs="0">
            <xs:complexType>
              <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element name="Location" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="1" name="Address" type="Address"/>
                    </xs:sequence>
                    <xs:attribute name="DocRef" use="required">
                      <xs:annotation>
                        <xs:documentation>The docrefs for Locations should be prefixed by the letter 'L'</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:ID">
                          <xs:pattern value="L\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="PremNum">
                      <xs:annotation>
                        <xs:documentation>If this is 7 characters we will assume it is a Federal PIN.
If this is 6 or 8 characters we will assume it is a State LID.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="6"/>
                          <xs:maxLength value="8"/>
                          <xs:pattern value="[A-Z0-9]{6,8}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Name" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Persons" minOccurs="0">
            <xs:complexType>
              <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element name="Person" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                    <xs:attribute name="DocRef" use="required">
                      <xs:annotation>
                        <xs:documentation>The docrefs for Persons should be prefixed by the letter 'P'</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:ID">
                          <xs:pattern value="P\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="AccreditationNumber" type="xs:string" use="optional"/>
                    <xs:attribute name="Title" type="xs:string"/>
                    <xs:attribute name="FirstName" type="xs:string" use="optional"/>
                    <xs:attribute name="MiddleInitial" type="xs:string"/>
                    <xs:attribute name="LastName" type="xs:string"/>
                    <xs:attribute name="Line1" type="xs:string"/>
                    <xs:attribute name="Line2" type="xs:string"/>
                    <xs:attribute name="TownCity" type="xs:string"/>
                    <xs:attribute name="County" type="CountyType"/>
                    <xs:attribute name="State" use="required" type="UsStateType"> </xs:attribute>
                    <xs:attribute name="ZIPcode" type="xs:string"> </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Animals" minOccurs="0">
            <xs:complexType>
              <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element name="Animal" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence minOccurs="1" maxOccurs="1">
                      <xs:element name="AnimalTags">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="AnimalTag" minOccurs="1" maxOccurs="6">
                              <xs:complexType>
                                <xs:attribute name="Type" type="TagType" use="required"/>
                                <xs:attribute name="Number" type="xs:string" use="required"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="DocRef" use="required">
                      <xs:annotation>
                        <xs:documentation>The docrefs for Animals should be prefixed by the letter 'A'</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:ID">
                          <xs:pattern value="A\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Age" use="optional" type="AgeType"> </xs:attribute>
                    <xs:attribute name="DOB" use="optional" type="DOBType"> </xs:attribute>
                    <xs:attribute name="SpeciesCode" type="SpeciesCodeType" use="required">
                      <xs:annotation>
                        <xs:documentation>This is the Species for this animal.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Breed" type="BreedType" use="optional"/>
                    <xs:attribute name="Sex" type="SexType" use="optional"/>
                    <xs:attribute name="Count" type="xs:integer"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Movements" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Movement">
                  <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                      <xs:element name="Animal">
                        <xs:complexType>
                          <xs:attribute name="AnimalDocRef" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:IDREF">
                                <xs:pattern value="A\c*"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="DepartureDate" type="xs:date" use="required"> </xs:attribute>
                    <xs:attribute name="ArrivalDate" type="xs:date"> </xs:attribute>
                    <xs:attribute name="Origin" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="L\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Destination" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="L\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="CertificateNum" type="xs:string"/>
                    <xs:attribute name="PermitNum" type="xs:string"/>
                    <xs:attribute name="MovementType" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>List of valid values to be agreed and added as a contraint</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Veterinarian" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="P\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Comment" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="1000"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Events" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Event">
                  <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                      <xs:element name="Animal">
                        <xs:complexType>
                          <xs:attribute name="AnimalDocRef" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:IDREF">
                                <xs:pattern value="A\c*"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="Date" type="xs:date" use="required"/>
                    <xs:attribute name="Location" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="L\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Event" use="required" type="EventType"/>
                    <xs:attribute name="Comment" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="1000"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Veterinarian" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="P\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="NUIMovements" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="NUIMovement">
                  <xs:complexType>
                    <xs:attribute name="DepartureDate" type="xs:date" use="required">
                      <xs:annotation>
                        <xs:documentation>The maps to the off_date in the nui_master_movement</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ArrivalDate" type="xs:date">
                      <xs:annotation>
                        <xs:documentation>The maps to the on_date in the nui_master_movement. If this attr is not specified, the on_date should be the same as the off_date.

If the ArrivalDate is specified, it must be &gt;= DepartureDate. If it is not, then it should be overwritten with the DepartureDate value.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Origin" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="L\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Destination" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="L\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="CertificateNum" type="xs:string"/>
                    <xs:attribute name="PermitNum" type="xs:string"/>
                    <xs:attribute name="MovementType" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation>This should be the SHORT_NAME of a MovementType</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="NumberAnimals" type="xs:integer" use="required"/>
                    <xs:attribute name="Comment" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="1000"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Veterinarian" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="P\c*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="NUIEvents" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="NUIEvent">
                  <xs:complexType>
                    <xs:attribute name="Date" type="xs:date" use="required"/>
                    <xs:attribute name="Location" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="L.*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Event" use="required" type="EventType"/>
                    <xs:attribute name="Metadata" type="xs:string"/>
                    <xs:attribute name="NumberAnimals" type="xs:integer" use="required"/>
                    <xs:attribute name="Comment" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="1000"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Veterinarian" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:IDREF">
                          <xs:pattern value="P.*"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Attachments" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="GeneratedTimestamp" type="xs:dateTime" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="AgeType">
    <xs:annotation>
      <xs:documentation> This can be an age specified as a number of days, weeks, months or years
        (suffixed with d, wk, mo or a to designate which). The age definitions adhere to UCUM - http://unitsofmeasure.org/ucum.html
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,2}(d|wk|mo|a)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DOBType">
    <xs:annotation>
      <xs:documentation>date of birth specified as "YYYY-MM-DD"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AttachmentType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="Payload" type="xs:base64Binary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="DocType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Scanned Paper CVI"/>
          <xs:enumeration value="Scanned Test Chart"/>
          <xs:enumeration value="PDF CVI"/>
          <xs:enumeration value="PDF Test Chart"/>
          <xs:enumeration value="Other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MimeType" type="MimeTypeType" use="optional"/>
    <xs:attribute name="Filename" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="250"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Comment" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="250"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="BreedType">
    <xs:annotation>
      <xs:documentation>By convention, you should use one of these codes if the breed is a 'common' one, otherwise specify the full breed as a string:
 * Angus (AN)
 * Angus Hybrids  (BLA)
 * Belgian Blue (BB)
 * Belted Galloway (BG)
 * Black (BLA)
 * Brahman (BR)
 * Charolais (CH)
 * Corriente (MC)
 * Dexter (DR)
 * Galloway (GA)
 * Gelbvieh (GV)
 * Hereford (HB)
 * Highland (SH)
 * Holstein (WW)
 * Limousin (LM)
 * Maine Anjou (MA)
 * Piedmontese (PI)
 * Polled Hereford (HP)
 * Red Angus (AR)
 * Salers (SA)
 * Santa Gertrudis (SG)
 * Shorthorn (SS)
 * Simmental (SM)
 * South Devon (DS)
 * Texas Longhorn (TL)
 * Wagyu (KB)

Receiving parties will interpret a short (2-3 character) upper case string as a short code, otherwise it will be interpreted as a full breed name.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountyType">
    <xs:annotation>
      <xs:documentation>From "Lee" to "Aleutians West Census Area" and beyond!</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MimeTypeType">
    <xs:annotation>
      <xs:documentation>See http://tools.ietf.org/html/rfc4288#section-4.2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^.{1,127}/.{1,127}$"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SexType">
    <xs:annotation>
      <xs:documentation>This enforces the list of allowed codes for animal sex types that are supported.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female"/>
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Gender Unknown"/>
      <xs:enumeration value="Spayed Female"/>
      <xs:enumeration value="Neutered Male"/>
      <xs:enumeration value="True Hermaphrodite"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SpeciesCodeType">
    <xs:annotation>
      <xs:documentation>This enforces the list of allowed species codes that are supported.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AQU">
        <xs:annotation>
          <xs:documentation>Aquaculture</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AVI">
        <xs:annotation>
          <xs:documentation>Avian</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BEF">
        <xs:annotation>
          <xs:documentation>Beef</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BIS">
        <xs:annotation>
          <xs:documentation>Bison</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BOV">
        <xs:annotation>
          <xs:documentation>Bovine (Bison and Cattle)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CAM">
        <xs:annotation>
          <xs:documentation>Camelid (Alpacas, Llamas, etc.)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CAN">
        <xs:annotation>
          <xs:documentation>Canine</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CAP">
        <xs:annotation>
          <xs:documentation>Caprine (Goats)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CER">
        <xs:annotation>
          <xs:documentation>Cervids</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHI">
        <xs:annotation>
          <xs:documentation>Chickens</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CLM">
        <xs:annotation>
          <xs:documentation>Clams</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CRA">
        <xs:annotation>
          <xs:documentation>Crawfish</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTF">
        <xs:annotation>
          <xs:documentation>Catfish</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DAI">
        <xs:annotation>
          <xs:documentation>Dairy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DEE">
        <xs:annotation>
          <xs:documentation>Deer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DUC">
        <xs:annotation>
          <xs:documentation>Ducks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ELK">
        <xs:annotation>
          <xs:documentation>Elk</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EQU">
        <xs:annotation>
          <xs:documentation>Equine (Horses, Mules, Donkeys, Burros)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FEL">
        <xs:annotation>
          <xs:documentation>Feline</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GEE">
        <xs:annotation>
          <xs:documentation>Geese</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GUI">
        <xs:annotation>
          <xs:documentation>Guineas</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MSL">
        <xs:annotation>
          <xs:documentation>Mussels</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTH">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OVI">
        <xs:annotation>
          <xs:documentation>Ovine (Sheep)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OYS">
        <xs:annotation>
          <xs:documentation>Oysters</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="POR">
        <xs:annotation>
          <xs:documentation>Porcine (Swine)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QUA">
        <xs:annotation>
          <xs:documentation>Quail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RTT">
        <xs:annotation>
          <xs:documentation>Ratites (Emus, Ostriches, etc.)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SAL">
        <xs:annotation>
          <xs:documentation>Salmon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SBA">
        <xs:annotation>
          <xs:documentation>Striped Bass</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SHR">
        <xs:annotation>
          <xs:documentation>Shrimp</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SLP">
        <xs:annotation>
          <xs:documentation>Scallops</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TIL">
        <xs:annotation>
          <xs:documentation>Tilapia</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TRO">
        <xs:annotation>
          <xs:documentation>Trout</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TUR">
        <xs:annotation>
          <xs:documentation>Turkeys</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TagType">
    <xs:annotation>
      <xs:documentation>This enforces the list of allowed tag types that are supported.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UN">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AIN">
        <xs:annotation>
          <xs:documentation>AIN tag (840 visual or RFID)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AMID">
        <xs:annotation>
          <xs:documentation>American ID (USA and 12 characters)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BRAND">
        <xs:annotation>
          <xs:documentation>Brand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BRAND-IMAGE">
        <xs:annotation>
          <xs:documentation>Brand image</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BT">
        <xs:annotation>
          <xs:documentation>Backtag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IMP">
        <xs:annotation>
          <xs:documentation>Implant (RFID)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MGT">
        <xs:annotation>
          <xs:documentation>Management/Owner ID tag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N840RFID">
        <xs:annotation>
          <xs:documentation>Non-840 RFID</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NUES8">
        <xs:annotation>
          <xs:documentation>NUES tag (8 characters)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NUES9">
        <xs:annotation>
          <xs:documentation>NUES tag (9 characters)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OFORID">
        <xs:annotation>
          <xs:documentation>Official foreign ID</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTH">
        <xs:annotation>
          <xs:documentation>Other ID (not official)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NAME">
        <xs:annotation>
          <xs:documentation>Name of animal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SGFLID">
        <xs:annotation>
          <xs:documentation>Sheep/goat - flock ID tag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NPIN">
        <xs:annotation>
          <xs:documentation>Sheep/goat National PIN tag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAT">
        <xs:annotation>
          <xs:documentation>Tattoo</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsStateType">
    <xs:annotation>
      <xs:documentation>2-character abbreviation for a state as per USPS National ZIP Code Directory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:enumeration value="AA"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AK"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AP"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CT"/>
      <xs:enumeration value="DC"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="FL"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="HI"/>
      <xs:enumeration value="IA"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="KS"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MI"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="ND"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NH"/>
      <xs:enumeration value="NJ"/>
      <xs:enumeration value="NM"/>
      <xs:enumeration value="NV"/>
      <xs:enumeration value="NY"/>
      <xs:enumeration value="OH"/>
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OR"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="RI"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TX"/>
      <xs:enumeration value="UT"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VT"/>
      <xs:enumeration value="WA"/>
      <xs:enumeration value="WI"/>
      <xs:enumeration value="WV"/>
      <xs:enumeration value="WY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISO3166CountryType">
    <xs:annotation>
      <xs:documentation>ISO3166 Alpha-3 codes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="USA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ZipCode">
    <xs:annotation>
      <xs:documentation>Must be ZIP or ZIP+4 format</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
      <xs:pattern value="[0-9]{5}-[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LatitudeType">
    <xs:annotation>
      <xs:documentation>A positive number indicates North; negative indicates
        South</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-90.0"/>
      <xs:maxInclusive value="90.0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongitudeType">
    <xs:annotation>
      <xs:documentation>A negative number indicates West; a positive number indicates
        East</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-180.0"/>
      <xs:maxInclusive value="180.0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeoPointType">
    <xs:attribute name="lat" type="LatitudeType" use="required"/>
    <xs:attribute name="lng" type="LongitudeType" use="required"/>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="Line1">
        <xs:annotation>
          <xs:documentation>First line of the premises address</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Line2">
        <xs:annotation>
          <xs:documentation>Second line of the premises address</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Town">
        <xs:annotation>
          <xs:documentation>Town/City of the premises address</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="County" type="CountyType">
        <xs:annotation>
          <xs:documentation>County of the premises address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="State" type="UsState">
        <xs:annotation>
          <xs:documentation>State of the premises address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ZIP" type="ZipCode">
        <xs:annotation>
          <xs:documentation>ZipCode of the premises address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Country" type="ISO3166CountryType">
        <xs:annotation>
          <xs:documentation>Country of the premises address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GeoPoint" type="GeoPointType">
        <xs:annotation>
          <xs:documentation>The co-ordinates of this premises</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UsState">
    <xs:annotation>
      <xs:documentation>2-character abbreviation for a state as per USPS National ZIP Code Directory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:enumeration value="AA"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AK"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AP"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CT"/>
      <xs:enumeration value="DC"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="FL"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="HI"/>
      <xs:enumeration value="IA"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="KS"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MI"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="ND"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NH"/>
      <xs:enumeration value="NJ"/>
      <xs:enumeration value="NM"/>
      <xs:enumeration value="NV"/>
      <xs:enumeration value="NY"/>
      <xs:enumeration value="OH"/>
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OR"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="RI"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TX"/>
      <xs:enumeration value="UT"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VT"/>
      <xs:enumeration value="WA"/>
      <xs:enumeration value="WI"/>
      <xs:enumeration value="WV"/>
      <xs:enumeration value="WY"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
