generic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.tracefirst.com/xml/statevet" version="6.0"
  xmlns="http://www.tracefirst.com/xml/statevet">

  <xs:annotation>
    <xs:documentation>
            (c) Copyright 2012-2015 Trace First Limited.
            All rights reserved.
            http://www.tracefirst.com/
        </xs:documentation>
    <xs:documentation>This XML Schema is Copyright © Trace First Limited</xs:documentation>
  </xs:annotation>
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element name="Holding" minOccurs="1" maxOccurs="1">
            <xs:complexType>
              <xs:attribute name="DocRef" use="required">
                <xs:annotation>
                  <xs:documentation>The docrefs for Holdings should be prefixed by the letter 'H'</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:ID">
                    <xs:pattern value="H\c*"/>
                    <xs:pattern value="[H-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="PremNum" type="xs:string"/>
              <xs:attribute name="Name" type="xs:string"/>
              <xs:attribute name="Line1" type="xs:string"/>
              <xs:attribute name="Line2" type="xs:string"/>
              <xs:attribute name="TownCity" type="xs:string"/>
              <xs:attribute name="County" type="CountyType"/>
              <xs:attribute name="State" use="required" type="UsStateType"> </xs:attribute>
              <xs:attribute name="ZIPcode" type="xs:string"> </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element name="Animal" minOccurs="1" maxOccurs="1">
            <xs:complexType>
              <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="AnimalTag" minOccurs="1" maxOccurs="6">
                  <xs:complexType>
                    <xs:attribute name="Type" use="optional" type="xs:string"> </xs:attribute>
                    <xs:attribute name="Number" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="DocRef" use="required">
                <xs:annotation>
                  <xs:documentation>The docrefs for Animals should be prefixed by the letter 'A'</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:ID">
                    <xs:pattern value="A\c*"/>
                    <xs:pattern value="[A-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="Age" use="optional" type="xs:string"> </xs:attribute>
              <xs:attribute name="Species" type="SpeciesType" use="optional"/>
              <xs:attribute name="Breed" type="BreedType" use="optional"/>
              <xs:attribute name="Sex" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element name="Person" minOccurs="1" maxOccurs="1">
            <xs:complexType>
              <xs:attribute name="DocRef" use="required">
                <xs:annotation>
                  <xs:documentation>The docrefs for Persons should be prefixed by the letter 'P'</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:ID">
                    <xs:pattern value="P\c*"/>
                    <xs:pattern value="[P-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="AccreditationNumber" type="xs:string" use="optional"/>
              <xs:attribute name="Title" type="xs:string"/>
              <xs:attribute name="FirstName" type="xs:string" use="optional"/>
              <xs:attribute name="MiddleInitial" type="xs:string"/>
              <xs:attribute name="LastName" type="xs:string"/>
              <xs:attribute name="Line1" type="xs:string"/>
              <xs:attribute name="Line2" type="xs:string"/>
              <xs:attribute name="TownCity" type="xs:string"/>
              <xs:attribute name="County" type="CountyType"/>
              <xs:attribute name="State" use="required" type="UsStateType"> </xs:attribute>
              <xs:attribute name="ZIPcode" type="xs:string"> </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AnimalEvent">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Animal">
                <xs:complexType>
                  <xs:attribute name="AnimalDocRef" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:IDREF">
                        <xs:pattern value="A.*"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Date" type="xs:date" use="required"/>
            <xs:attribute name="Location" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="EventType" use="required" type="xs:string"> </xs:attribute>
            <xs:attribute name="Comment" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Veterinarian" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="P.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Movement">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Animal">
                <xs:complexType>
                  <xs:attribute name="AnimalDocRef" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:IDREF">
                        <xs:pattern value="A.*"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="DepartureDate" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation>The maps to the off_date in the master_movement</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ArrivalDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>The maps to the on_date in the master_movement. If this attr is not specified, the on_date should be the same as the off_date.

If the ArrivalDate is specified, it must be &gt;= DepartureDate. If it is not, then it should be overwritten with the DepartureDate value.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Species" type="SpeciesType" use="required">
              <xs:annotation>
                <xs:documentation>Refer to https://github.com/mmcgrath/CoreOne-E/issues/1355 for reasons why this was retained</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Origin" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Destination" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="CertificateNum" type="xs:string"/>
            <xs:attribute name="PermitNum" type="xs:string"/>
            <xs:attribute name="MovementType" type="xs:string">
              <xs:annotation>
                <xs:documentation>This should be the SHORT_NAME of a MovementType</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Veterinarian" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="P.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Comment" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="NUIEvent">
          <xs:complexType>
            <xs:attribute name="Date" type="xs:date" use="required"/>
            <xs:attribute name="Location" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="EventType" use="required">
              <xs:annotation>
                <xs:documentation>This is the short_code for the EventType</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value=""/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Metadata" type="xs:string"/>
            <xs:attribute name="NumberAnimals" type="xs:integer" use="required"/>
            <xs:attribute name="Comment" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Veterinarian" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="P.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="NUIMovement">
          <xs:complexType>
            <xs:attribute name="DepartureDate" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation>The maps to the off_date in the nui_master_movement</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ArrivalDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>The maps to the on_date in the nui_master_movement. If this attr is not specified, the on_date should be the same as the off_date.

If the ArrivalDate is specified, it must be &gt;= DepartureDate. If it is not, then it should be overwritten with the DepartureDate value.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Origin" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Destination" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="CertificateNum" type="xs:string"/>
            <xs:attribute name="PermitNum" type="xs:string"/>
            <xs:attribute name="MovementType" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>This should be the SHORT_NAME of a MovementType</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NumberAnimals" type="xs:integer" use="required"/>
            <xs:attribute name="Comment" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="1000"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Veterinarian" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="P.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Slaughter">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Animal">
                <xs:complexType>
                  <xs:attribute name="AnimalDocRef" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:IDREF">
                        <xs:pattern value="A.*"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="SlaughterDate" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation>The maps to the event_date in the animal_event</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Location" use="required">
              <xs:annotation>
                <xs:documentation>This is the Holding that will be used to pick a suitable herd for the herd_id of the animal_event</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="H.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Species" type="SpeciesType" use="required">
              <xs:annotation>
                <xs:documentation>This is used to pick the herd used to record the slaughter</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute default="SLA" name="EventTypeCode" type="xs:string">
              <xs:annotation>
                <xs:documentation>This is the short_code for the event_type that will be used when creating the animal_event. There should not be a need/reason to override this from it's default 'SLA' value.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Veterinarian" use="optional">
              <xs:annotation>
                <xs:documentation>This will be mapped to the person_id attribute of the created animal_event</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:IDREF">
                  <xs:pattern value="P.*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Comments" type="xs:string">
              <xs:annotation>
                <xs:documentation>This is mapped to the comments field of the created animal_event</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="GeneratedTimestamp" type="xs:dateTime" use="required"/>
      <xs:attribute name="DefaultSpecies" type="SpeciesType" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="SpeciesType">
    <xs:annotation>
      <xs:documentation>This enforces the list of allowed species codes that are supported.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNK"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="CAP"/>
      <xs:enumeration value="CER"/>
      <xs:enumeration value="EQU"/>
      <xs:enumeration value="OVI"/>
      <xs:enumeration value="POR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BreedType">
    <xs:annotation>
      <xs:documentation>The breed code must be 2 or 3 uppercase characters</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountyType">
    <xs:annotation>
      <xs:documentation>From "Lee" to "Aleutians West Census Area" and beyond!</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AttachmentType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="Payload" type="xs:base64Binary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="DocType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Scanned Paper CVI"/>
          <xs:enumeration value="Scanned Test Chart"/>
          <xs:enumeration value="PDF CVI"/>
          <xs:enumeration value="PDF Test Chart"/>
          <xs:enumeration value="Other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MimeType" type="MimeTypeType" use="optional"/>
    <xs:attribute name="Filename" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="250"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Comment" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="250"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="MimeTypeType">
    <xs:annotation>
      <xs:documentation>See http://tools.ietf.org/html/rfc4288#section-4.2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^.{1,127}/.{1,127}$"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsStateType">
    <xs:annotation>
      <xs:documentation>2-character abbreviation for a state as per USPS National ZIP Code Directory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:enumeration value="AA"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AK"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AP"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CT"/>
      <xs:enumeration value="DC"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="FL"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="HI"/>
      <xs:enumeration value="IA"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="KS"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MI"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="ND"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NH"/>
      <xs:enumeration value="NJ"/>
      <xs:enumeration value="NM"/>
      <xs:enumeration value="NV"/>
      <xs:enumeration value="NY"/>
      <xs:enumeration value="OH"/>
      <xs:enumeration value="OK"/>
      <xs:enumeration value="OR"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="RI"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TX"/>
      <xs:enumeration value="UT"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VT"/>
      <xs:enumeration value="WA"/>
      <xs:enumeration value="WI"/>
      <xs:enumeration value="WV"/>
      <xs:enumeration value="WY"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
